$basic--color-brown: #cc693e;
$basic--color-light: #f1f1f1;
$basic--color-dark: #333333;
$basic--color-dark2: #1a1a1a;
$basic--color-lightgray: #cccccc;
$basic--color-lightgray2: #b3b3b3;
$basic--color-lightpink: #f5e1d8;
$basic--color-darkgray: #666666;
$basic--color-darkgray2: #808080;
$basic--color-vinous: #e30029; ;
