.dialog-background {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 0;
  left: 0;
  width: 900px;
  height: max-content;
  margin: 10px auto;
  padding: 40px;
  padding-bottom: 45px;
  border-radius: 16px;
  background-color: white;
  z-index: 10;
}
.dialog__content {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-column-gap: 2rem;
}

.dialog__radio-btn-wrap {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  z-index: 5;
  height: 44.88px;
  margin-top: 24px;
  border-radius: 35px;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.16),
    inset 0px 2px 4px rgba(0, 0, 0, 0.16);
  background-color: $basic--color-lightpink;

  button {
    cursor: pointer;
    position: relative;
    z-index: 4;
    background: none;
    border: none;
    white-space: nowrap;
    text-align: center;
    @extend %default--descrition_md;
    span {
      display: inline-block;
      margin-left: 0.3rem;
    }
  }
  .btn_dough {
    width: 100%;
  }
}
.radio-btn_product-size {
  border-radius: 20px;
}
.selected-radio-btn_bg {
  position: absolute;
  top: 2px;
  z-index: 3;
  height: 90%;
  width: 50%;
  border-radius: 35px;
  background: white;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 5px rgba(0, 0, 0, 0.35),
    0px 6px 16px rgba(0, 0, 0, 0.28);
  transition: transform 0.3s ease;
}

.dialog__img {
  height: 285px;
}

.dialog__title {
  display: block;
  margin-bottom: 0.5rem;
  @extend %default--title_md;
}
.dialog__description {
  margin-bottom: 1.5rem;
  line-height: 20px;
  @extend %default--descrition_md;
  color: $basic--color-darkgray;
}

.dialog__modifiers__btn-wrap {
  overflow-y: scroll;
  height: 16rem;
  padding: 0.3rem 0.2rem;
  padding-right: 2rem;
  scrollbar-width: auto;
  scrollbar-color: white $basic--color-darkgray;
}
.dialog__modifiers__btn-wrap::-webkit-scrollbar {
  width: 1.5rem;
}
.dialog__modifiers__btn-wrap::-webkit-scrollbar-track {
  width: 20px;
  background: $basic--color-darkgray;
  border-radius: 1rem;
}
.dialog__modifiers__btn-wrap::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 1rem;
  border: 3px solid $basic--color-darkgray;
}

.dialog__modifiers__btn-wrap-title {
  display: block;
  @extend %default--descrition_md;
  margin-bottom: 1rem;
}

.dialog__modifiers__btn:not(:last-child) {
  margin-bottom: 1rem;
}
.dialog__modifiers__btn {
  cursor: pointer;
  display: grid;
  grid-template-columns: 0.6fr 2.8fr 2fr;
  grid-column-gap: 0.5rem;
  align-items: center;
  width: 100%;
  min-height: 3rem;
  max-height: 3rem;
  padding: 0.3rem 1rem;
  border: 0;
  border-radius: 50px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.16),
    0px 4px 6px rgba(0, 0, 0, 0.16);
  background: #ffffff;
  .svg-plus,
  .svg-checked {
    width: 100%;
    height: 22px;
  }
}
.dialog__modifiers-name {
  text-align: start;
  @extend %default--descrition_sm;
}
.dialog__modifiers-counter-wrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.dialog__modifiers-counter-wrap__block {
  display: flex;
  flex-direction: column;
}
.dialog__modifiers-counter-wrap__block * {
  @extend %default--descrition_sm;
}
.dialog__modifiers-quantity {
  margin-bottom: 5px;
}
.dialog__modifiers-img {
  width: 35px;
  height: 35px;
}

.dialog__btn-success {
  align-self: flex-end;
  width: 44%;
  border-radius: 40px;
  margin-top: 1.5rem;
  font-weight: 700;
  text-align: center;
  span {
    display: inline-block;
    margin-right: 5px;
  }
  .dotted::before {
    display: inline-block;
    content: "";
    width: 0.4rem;
    height: 0px;
    border-bottom: 4px dotted white;
    transform: translateY(-2px);
  }
  .text--muted {
    text-decoration: line-through;
  }
}
