.section-recommendations {
  .section-recommendations__title {
    @extend %default--title_lg;
    margin-bottom: 40px;
  }
  padding-bottom: 4rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid $basic--color-lightgray2;
}
